body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

#intro {
	background-size: cover;
	height: 800px;
	width: 100%;
	padding-bottom: 40px;
	padding-top: 5%;
	float: left;
	background-clip: border-box;
	background-origin: padding-box;
	background: #222 url('../images/header_image.jpg') no-repeat bottom center;
	text-align: center;
}

span.headline {
	display: inline-block;
	border-radius: 15px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 3em;
	padding: 15px;
	margin: 10px auto;
	font-weight: bold;
}

div.intro_content_wrapper {
	display: table;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 10px auto;
	padding: 10px;
	border-radius: 15px;
	width: 50%;
}

div.intro_content {
	display: table-cell;
	min-height: 300px;
	position: relative;
	left: 0;
	top: 0;
	text-align: center;
	vertical-align: middle;

}

img.align_left {
	float: left;
}

img.skywarn_logo {
	width: 300px;
	height: 300px;
	margin: 5px 10px 5px 5px;
}

.intro_content h3 {
	color: #333;
}

a.splash_link {
	color: #333;
}

/*
 *	Offices List
 */
div.office_container {
	text-align: center;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;

	margin: 0 auto;
	width: auto;
}

div.nws_offices_wrapper {
	width: 20%;
	margin: 10px 1%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;

	vertical-align: top;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

div.nws_offices_wrapper h3 {
	border-bottom: 1px solid #ccc;
	margin: 0 5px 10px;
}

span.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0
}

span.nws_office_city, span.nws_office_city_selected {
	display: inline-block;
	border-radius: 15px;
	line-height: 30px;
	border: 1px solid #eee;
	cursor: pointer;
	padding: 0 10px;
	margin: 2px auto;
}

span.nws_office_city:hover {
	border: 1px solid #ccc;
	background-color: #ddd;
}

span.nws_office_city_selected {
	border: 1px solid #00a848;
	background-color: #00a848;
	color: #fff;
}

/*
 *	Session Messages
 */
span.error_msg, span.info_msg, span.success_msg {
	display: block;
	padding: 5px 15px;
	margin: 0 auto;
	width: 50%;
	border-radius: 5px;
	box-shadow: 0 3px 10px #666;
}

span.error_msg {

	color: #fff;
	background-color: #d16d72;
	border: 1px solid red;
}

span.info_msg {
	color: #333333;
	background-color: #cccccc;
	border: 1px solid #aaaaaa;
}

span.success_msg {
	color: #fff;
	background-color: #2b8b28;
	border: 1px solid green;
}

/*
 *	Footer
 */
span.overall_footer_msg {
	float: left;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.7em;
	line-height: 1.2em;
	color: #aaa;
	margin-top: 10px;
}

span.overall_footer_msg a {
	color: #666;
}