/* Profile Page */
#profile {
	margin-top: 175px;
}

ul.profile_connections {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.profile_connections li {
	line-height: 20px;
	padding-left: 25px;
	font-size: 0.9em;
	margin-bottom: 5px;
}

ul.profile_connections li.profile_conn_ok {
	background: url('../images/green_dot.png') no-repeat left center;
}

ul.profile_connections li.profile_conn_bad {
	background: url('../images/red_dot.png') no-repeat left center;
}

ul.profile_connections li.profile_conn_warn {
	background: url('../images/yellow_dot.png') no-repeat left center;
}

ul.profile_menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.profile_menu li {
	line-height: 20px;
	padding-left: 25px;
	font-size: 0.9em;
	margin-bottom: 5px;
}

ul.profile_menu li a {
	text-decoration: none;
}

ul.profile_menu li a:hover {
	text-decoration: underline;
}

/*
 * 	Follow On Twitter Section
 */
a.profile_follow_img {
	display: block;
	width: 310px;
	height: 60px;
	background: url('../images/follow_on_twitter.png') no-repeat center center;
	margin: 0 auto;
}

a.profile_follow_img:hover {
	display: block;
	width: 310px;
	height: 60px;
	background: url('../images/follow_on_twitter_hover.png') no-repeat center center;
	margin: 0 auto;
}

.btn_profile_location {
	width: auto;
}

/*
 *	Disconnect Modal
 */

#disconnect_dialog {
	text-align: left;
}

.alert_icon {
	width: 48px;
	height: 48px;
	float: left;
	background: url('../images/alert_icon.png') no-repeat center center;
	display: block;
	margin-right: 10px;
}

