* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* Inputs */
input, textarea {
	width: 100%;
	font-size: 1em;
	padding: .3125em .25em;
	background: #fff;
	border: .0625em solid #a9a6a7;
	outline: 0;
	font-family: "Droid Sans", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", sans-serif;
	-webkit-border-radius: .125em;
	-moz-border-radius: .125em;
	-o-border-radius: .125em;
	border-radius: .125em;
	-webkit-box-shadow: inset 0 .0625em .125em #cfcdcd;
	-moz-box-shadow: inset 0 .0625em .125em #cfcdcd;
	-o-box-shadow: inset 0 .0625em .125em #cfcdcd;
	box-shadow: inset 0 .0625em .125em #cfcdcd
}

.input-label {
	font-weight: bold;
	font-family: "Droid Sans", Helvetica, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
	margin-left: 0.25em;
	margin-right: 0.25em;
	text-transform: none;
}

input:hover, textarea:hover, input:focus, textarea:focus, input:active, textarea:active, input.is-current, textarea.is-current {
	border-color: #587eaa;
	z-index: 1;
	-webkit-box-shadow: 0 .0625em .25em #cfcdcd;
	-moz-box-shadow: 0 .0625em .25em #cfcdcd;
	-o-box-shadow: 0 .0625em .25em #cfcdcd;
	box-shadow: 0 .0625em .25em #cfcdcd
}

input[type="checkbox"], input[type="radio"] {
	width: auto
}

input[type="checkbox"] .lte7, input[type="radio"] .lte7 {
	width: 13px
}

textarea {
	height: 5em
}

select {
	font-size: .8125em
}

.input-xxxs {
	width: 1.875em
}

.input-xxs {
	width: 3.125em
}

.input-xs {
	width: 6.25em
}

.input-s {
	width: 10.9375em
}

.input-m {
	width: 15.625em
}

.input-l {
	width: 21.875em;
	max-width: 100%
}

.input-label {
	display: block;
	margin-top: .9375em
}

.input-label input, .input-label textarea, .input-label select {
	margin-top: .3125em;
	margin-bottom: .3125em
}

.input-label .hint {
	font-weight: normal;
	color: #a9a6a7;
	font-family: "Droid Sans", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", sans-serif;
	margin-top: .3125em;
	font-size: 0.75em;
	text-transform: none;
}

legend {
	padding-bottom: .625em
}

legend.input-label {
	padding-bottom: .3125em
}

/* Grid */
.group {
	zoom: 1;
}

.group:before, .group:after {
	content: "\0020";
	height: 0;
	display: block;
	overflow: hidden
}

.group:after {
	clear: both
}

.media-object, .media-object .desc {
	overflow: hidden
}

.media-object.checkbox-item .object {
	float: left;
	margin-right: .28125em
}

.media-object .desc {
	display: block
}

.media-grid {
	margin-top: 0;
	padding: 0;
	letter-spacing: -.31em;
	word-spacing: -.43em
}

.lte7 .media-grid {
	letter-spacing: normal
}

.media-grid .object {
	list-style: none outside none;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	display: inline-block;
	margin-top: 1.25em
}

.lte7 .media-grid .object {
	display: inline;
	zoom: 1
}

.media-grid .object img {
	display: block
}

.media-grid .object.gm-columns, .media-grid .object.gt-columns, .media-grid .object.gd-columns {
	float: none
}

@media only screen and (max-width: 47.9375em) {
	.js .off-canvas-column {
		overflow: hidden
	}

	.js .off-canvas-column.is-active .primary-canvas {
		margin-right: -110%
	}

	.js .off-canvas-column.is-active .secondary-canvas {
		margin-left: 0
	}

	.js .off-canvas-column.is-active .primary-canvas, .js .off-canvas-column.was-active .primary-canvas, .js .off-canvas-column.is-active .secondary-canvas, .js .off-canvas-column.was-active .secondary-canvas {
		-webkit-transition: all .15s linear;
		-moz-transition: all .15s linear;
		-o-transition: all .15s linear;
		transition: all .15s linear
	}

	.js .primary-canvas, .js .secondary-canvas {
		width: 100%;
		position: relative
	}

	.js .primary-canvas {
		margin-left: 0;
		float: right;
		z-index: 1
	}

	.js .secondary-canvas {
		margin-left: -100%;
		float: left;
		z-index: 2
	}

	.gm-align-center {
		text-align: center;
	}

	.gm-row {
		margin-left: -.75em;
		margin-right: -.75em
	}

	.lte7 .gm-row {
		zoom: 1
	}

	.gm-row:before, .gm-row:after {
		content: "\0020";
		height: 0;
		display: block;
		overflow: hidden
	}

	.gm-row:after {
		clear: both
	}

	.gm-row.gm-rtl .gm-columns {
		float: right
	}

	.gm-columns {
		display: inline;
		float: left;
		padding-left: .75em;
		padding-right: .75em
	}

	.gm-full {
		width: 100%;
	}

	.gm-half {
		width: 50%
	}

	.gm-third {
		width: 33.333333333333336%
	}

	.gm-two-thirds {
		width: 66.666666666666666%
	}

	.gm-hide {
		display: none !important;
	}

	.gmh-50px {
		height: 50px;
	}

	.gm-1of5 {
		width: 20%;
	}

	.gm-2of5 {
		width: 40%;
	}

	.gm-3of5 {
		width: 60%;
	}

	.gm-4of5 {
		width: 80%;
	}
}

@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
	.gt-row {
		margin-left: -0.5em;
		margin-right: -0.5em
	}

	.lte7 .gt-row {
		zoom: 1
	}

	.gt-row:before, .gt-row:after {
		content: "\0020";
		height: 0;
		display: block;
		overflow: hidden
	}

	.gt-row:after {
		clear: both
	}

	.gt-row.gt-rtl .gt-columns {
		float: right
	}

	.gt-row.gt-ltr .gt-columns {
		float: left
	}

	.gt-columns {
		display: inline;
		float: left;
		padding-left: 0.5em;
		padding-right: 0.5em
	}

	.gt-1of5 {
		width: 20%;
	}

	.gt-1of7 {
		width: 14.285714%
	}

	.gt-1of8 {
		width: 12.5%;
	}

	.gt-1of9 {
		width: 11.11111111111111%
	}

	.gt-2of9 {
		width: 22.22222222222222%
	}

	.gt-quarter {
		width: 25%
	}

	.gt-3of9, .gt-2of6, .gt-third {
		width: 33.33333333333333%
	}

	.gt-4of5 {
		width: 80%;
	}

	.gt-4of9 {
		width: 44.44444444444444%
	}

	.gt-half {
		width: 50%
	}

	.gt-5of9 {
		width: 55.55555555555556%
	}

	.gt-2of5 {
		width: 40%
	}

	.gt-3of5 {
		width: 60%
	}

	.gt-6of9, .gt-4of6, .gt-two-thirds {
		width: 66.66666666666666%
	}

	.gt-three-quarters {
		width: 75%
	}

	.gt-7of9 {
		width: 77.77777777777779%
	}

	.gt-2of7 {
		width: 28.57142857142857%
	}

	.gt-3of7 {
		width: 42.857142857142854%
	}

	.gt-4of7 {
		width: 57.14285714285714%
	}

	.gt-5of7 {
		width: 71.42857142857143%
	}

	.gt-8of9 {
		width: 88.88888888888889%
	}

	.gt-3of8 {
		width: 37.5%
	}

	.gt-5of8 {
		width: 62.5%
	}

	.gt-6of7 {
		width: 85.714284%;
	}

	.gt-full {
		width: 100%
	}

	.gt-clear {
		clear: both
	}

	.gt-hide {
		display: none !important;
	}

	.gth-85px {
		height: 85px;
	}
}

@media only screen and (min-width: 62em) {
	.gd-row {
		margin-left: -0.5em;
		margin-right: -0.5em
	}

	.lte7 .gd-row {
		zoom: 1
	}

	.gd-row:before, .gd-row:after {
		content: "\0020";
		height: 0;
		display: block;
		overflow: hidden
	}

	.gd-row:after {
		clear: both
	}

	.gd-row.gd-rtl .gd-columns {
		float: right
	}

	.gd-row.gd-ltr .gd-columns {
		float: left
	}

	.gd-columns {
		display: inline;
		float: left;
		padding-left: 0.5em;
		padding-right: 0.5em
	}

	.gd-1of7 {
		width: 14.285714%
	}

	.gd-1of12 {
		width: 8.333333333333332%
	}

	.gd-1of10 {
		width: 10%;
	}

	.gd-1of6,
	.gd-2of12 {
		width: 16.666666666666664%
	}

	.gd-3of12, .gd-2of8, .gd-quarter {
		width: 25%
	}

	.gd-4of12, .gd-3of9, .gd-2of6, .gd-third {
		width: 33.33333333333333%
	}

	.gd-5of12 {
		width: 41.66666666666667%
	}

	.gd-2of10, .gd-1of5 {
		width: 20%
	}

	.gd-4of10, .gd-2of5 {
		width: 40%
	}

	.gd-6of7 {
		width: 85.714284%;
	}

	.gd-6of10, .gd-3of5 {
		width: 60%
	}

	.gd-8of10, .gd-4of5 {
		width: 80%
	}

	.gd-6of12, .gd-3of6, .gd-4of8, .gd-5of10, .gd-2of4, .gd-half {
		width: 50%
	}

	.gd-7of12 {
		width: 58.333333333333336%
	}

	.gd-2of7 {
		width: 28.57142857142857%
	}

	.gd-3of7 {
		width: 42.857142857142854%
	}

	.gd-4of7 {
		width: 57.14285714285714%
	}

	.gd-5of7 {
		width: 71.42857142857143%
	}

	.gd-8of12, .gd-4of6, .gd-6of9, .gd-two-thirds {
		width: 66.66666666666666%
	}

	.gd-3of8 {
		width: 37.5%
	}

	.gd-5of8 {
		width: 62.5%
	}

	.gd-6of8, .gd-9of12, .gd-three-quarters {
		width: 75%
	}

	.gd-2of9 {
		width: 22.22222222222222%
	}

	.gd-5of9 {
		width: 55.55555555555556%
	}

	.gd-7of9 {
		width: 77.77777777777779%
	}

	.gd-10of12 {
		width: 83.33333333333334%
	}

	.gd-3of10 {
		width: 30%
	}

	.gd-7of10 {
		width: 70%
	}

	.gd-11of12 {
		width: 91.66666666666666%
	}

	.gd-2of11 {
		width: 18.181818181818183%
	}

	.gd-9of11 {
		width: 81.81818181818183%
	}

	.gd-full {
		width: 100%
	}

	.gd-clear {
		clear: both
	}

	.gd-custom-15 {
		width: 15%;
	}

	.gd-custom-85 {
		width: 85%;
	}

	.gd-hide {
		display: none !important;
	}

	.gdh-125px {
		height: 125px;
	}

}

@media only screen and (min-width: 77.5em) {
	.wrapper {
		width: 80%;
		max-width: 71.875em
	}
}

/* Border */
.button--small,
.brs, .bhs, .bas {
	border-right: 1px solid;
}

.button--small,
.bls, .bhs, .bas {
	border-left: 1px solid;
}

.button--small,
.bts, .bvs, .bas {
	border-top: 1px solid;
}

.button--small,
.bbs, .bvs, .bas {
	border-bottom: 1px solid;
}

.button,
.brm, .bhm, .bam {
	border-right: 2px solid;
}

.button,
.blm, .bhm, .bam {
	border-left: 2px solid;
}

.button,
.btm, .bvm, .bam {
	border-top: 2px solid;
}

.button,
.bbm, .bvm, .bam {
	border-bottom: 2px solid;
}

.button--large,
.brl, .bhl, .bal {
	border-right: 3px solid;
}

.button--large,
.bll, .bhl, .bal {
	border-left: 3px solid;
}

.button--large,
.btl, .bvl, .bal {
	border-top: 3px solid;
}

.button--large,
.bbl, .bvl, .bal {
	border-bottom: 3px solid;
}

/* Padding */
.button--small,
.prs, .phs, .pas {
	padding-right: 0.25em;
}

.button--small,
.pls, .phs, .pas {
	padding-left: 0.25em;
}

.button--small,
.pts, .pvs, .pas {
	padding-top: 0.25em;
}

.button--small,
.pbs, .pvs, .pas {
	padding-bottom: 0.25em;
}

.button,
.prm, .phm, .pam {
	padding-right: 0.5em;
}

.button,
.plm, .phm, .pam {
	padding-left: 0.5em;
}

.button,
.ptm, .pvm, .pam {
	padding-top: 0.5em;
}

.button,
.pbm, .pvm, .pam {
	padding-bottom: 0.5em;
}

.button--large,
.prl, .phl, .pal {
	padding-right: 0.75em;
}

.button--large,
.pll, .phl, .pal {
	padding-left: 0.75em;
}

.button--large,
.ptl, .pvl, .pal {
	padding-top: 0.75em;
}

.button--large,
.pbl, .pvl, .pal {
	padding-bottom: 0.75em;
}

/* Margins */
.button--small,
.mrs, .mhs, .mas {
	margin-right: 0.25em;
}

.button--small,
.mls, .mhs, .mas {
	margin-left: 0.25em;
}

.button--small,
.mts, .mvs, .mas {
	margin-top: 0.25em;
}

.button--small,
.mbs, .mvs, .mas {
	margin-bottom: 0.25em;
}

.button,
.mrm, .mhm, .mam {
	margin-right: 0.75em;
}

.button,
.mlm, .mhm, .mam {
	margin-left: 0.75em;
}

.button,
.mtm, .mvm, .mam {
	margin-top: 0.75em;
}

.button,
.mbm, .mvm, .mam {
	margin-bottom: 0.75em;
}

.button--large,
.mrl, .mhl, .mal {
	margin-right: 1.25em;
}

.button--large,
.mll, .mhl, .mal {
	margin-left: 1.25em;
}

.button--large,
.mtl, .mvl, .mal {
	margin-top: 1.25em;
}

.button--large,
.mbl, .mvl, .mal {
	margin-bottom: 1.25em;
}

/* Border Rounding */
.rounded-nws, .rounded-ls, .rounded-ts, .rounded-as {
	border-top-left-radius: 0.25em;
}

.rounded-sws, .rounded-ls, .rounded-bs, .rounded-as {
	border-bottom-left-radius: 0.25em;
}

.rounded-nes, .rounded-rs, .rounded-ts, .rounded-as {
	border-top-right-radius: 0.25em;
}

.rounded-ses, .rounded-rs, .rounded-bs, .rounded-as {
	border-bottom-right-radius: 0.25em;
}

.rounded-nwm, .rounded-lm, .rounded-tm, .rounded-am {
	border-top-left-radius: 0.5em;
}

.rounded-swm, .rounded-lm, .rounded-bm, .rounded-am {
	border-bottom-left-radius: 0.5em;
}

.rounded-nem, .rounded-rm, .rounded-tm, .rounded-am {
	border-top-right-radius: 0.5em;
}

.rounded-sem, .rounded-rm, .rounded-bm, .rounded-am {
	border-bottom-right-radius: 0.5em;
}

.rounded-nwl, .rounded-ll, .rounded-tl, .rounded-al {
	border-top-left-radius: 1em;
}

.rounded-swl, .rounded-ll, .rounded-bl, .rounded-al {
	border-bottom-left-radius: 1em;
}

.rounded-nel, .rounded-rl, .rounded-tl, .rounded-al {
	border-top-right-radius: 1em;
}

.rounded-sel, .rounded-rl, .rounded-bl, .rounded-al {
	border-bottom-right-radius: 1em;
}

.circle {
	border-radius: 50%;
}

.valign--top {
	vertical-align: top;
}

.valign--middle {
	vertical-align: middle;
}

.valign--bottom {
	vertical-align: bottom;
}

.align--left {
	text-align: left;
}

.align--center {
	text-align: center;
}

.align--right {
	text-align: right;
}

.float--left {
	float: left;
}

.float--right {
	float: right;
}

.float--center {
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	clear: both;
}

.inline-block {
	display: inline-block;
}

.new-line {
	display: block;
}

.clickable {
	cursor: pointer;
}

.nowrap {
	white-space: nowrap;
}

.text--small {
	font-size: 0.75em;
}