AddHandler application/x-httpd-php .html .htm
AddType image/svg+xml .svg .svgz

RewriteEngine on

RewriteRule ^(.+)/$ /$1/index [R=301,NC,QSA,L]
RewriteRule ^/?$    /index [R=301,NC,QSA,L]

# Standard File Path matching
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule ^(.*)(?:\.(php|html|xml))?$ /index.php?cprv=$1 [QSA,NC,L]

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|less)(\.gz)?$">
Header set Expires "Thu, 15 Apr 2012 20:00:00 GMT"
Header unset ETag
FileETag none
</FilesMatch>
