<span class="overall_footer_msg">
	v0.9a :: &copy; <a href="http://thepizzy.net/blog">thepizzy.net</a> 2014<br/>
	This website and service is not affiliated with the National Weather Service, the National Oceanic and Atmospheric Administration, nor SKYWARN.<br/>
	This service is offered as-is, with no implied warranty or guarantee of informational accuracy.<br/>
	For questions, technical details, or other inquiries contact <a href="https://twitter.com/neotsn">@neotsn</a><br/>
	Weather Image Credit: <a href="http://coclouds.com">coclouds.com</a>
</span>
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = new Date();
		a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-238317-2', 'thepizzy.net');
	ga('send', 'pageview');

</script>
</body>
</html>