<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>ThePizzy.net's Storm Spotter Status Alerts</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"/>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="./js/monitor.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	{CSS_SPECIFIC}
	<link href="http://fonts.googleapis.com/css?family=Raleway:500,700" rel="stylesheet" type="text/css">
</head>
<body>