<h2 class="office_list">Select your National Weather Service Office Location</h2>
<p class="office_list_instructions">Below you'll notice several lists, broken into sections by state.<br/>Each of these
	cities hosts a National Weather Service Office.<br/><br/>Select the city (or cities) that send relevant Storm
	Spotter
	Activation forecasts for your location.</p>
<div class="office_container">{TXT_STATE_OFFICE_LIST}<span class="stretch"></span></div>
<script>monitor_offices_list()</script>
<div id="offices_input_container" style="display: none;"></div>