<header id="header" class="ptm bg-color-primary-4 gd-full gt-full gm-full box-shadow">
	<span class="inline-block header_logo mhl phl float--left  rounded-as">
		<img src="./images/skywarn_650.png" class="mll bas border-color-primary-3 rounded-as box-shadow bg-color-primary-4 pas gm-hide"/>
	</span>
	<span class="inline-block float--left valign--top nowrap">
		<h3 class="color-primary-2 inline-block mls pvs prs valign--middle">SKYWARN</h3><h4 class="pvs plm mls blm border-color-primary-0 color-primary-1 valign--middle inline-block gt-hide gm-hide">Storm Spotter Status</h4>
	</span>

	<div class="float--right inline-block pvm mrm group">
		<div class="gd-row gt-row gm-row">
			<div class="float--left">
				<img src="{IMG_USER_PROFILE}" class="circle mvs mrm valign--middle header_avatar"/>
			</div>
			<div class="float--left">
				<span class="color-primary-2 inline-block mrm pvs mvs valign--middle gm-hide">@{TXT_USER_SCREEN_NAME}</span>
			</div>
			<div class="float--left mrm bls border-color-primary-0">
				<a class=" inline-block color-primary-1 pvs mvs mlm valign--middle" href="clearsessions.php">{TXT_LOGOUT_USER}</a>
			</div>
		</div>
	</div>
</header>
<section id="profile">
	{TXT_MSGS}
	<div class="group">
		<div class="gd-row gt-row gm-row">
			<div class="gd-columns gt-columns gm-columns gd-1of7 gt-1of7 gm-hide">&nbsp;</div>
			<div class="gd-columns gt-columns gm-columns gd-5of7 gt-5of7 gm-full group">
				<div class="gd-row gt-row gm-row">
					<div class="gd-columns gt-columns gm-columns gd-quarter gt-third gm-full group bg-color-complement-3 rounded-lm box-shadow">
						<div class="gd-row gt-row gm-row">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full align--center mbs mtm">
								<img src="{IMG_USER_PROFILE}" class="mvs circle"/>
								<h4 class="valign--middle pvs color-primary-2">@{TXT_USER_SCREEN_NAME}</h4>
							</div>
						</div>
						<div class="gd-row gt-row gm-row bvs border-color-primary-0">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full align--left bg-color-primary-4">
								<h4 class="color-primary-1 align--center pvs">Your Location</h4>
							</div>
						</div>
						<div class="gd-row gt-row gm-row">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full pal align--center">
								<!-- IF {B_HAS_OFFICES} -->
								{TXT_PROFILE_LOCATION}
								<!-- ELSE -->
								<span class="button btn--primary btn_show_location_selector" data-userid="{TXT_USER_ID}">Add Location</span>
								<!-- ENDIF -->
							</div>
						</div>
						<div class="gd-row gt-row gm-row bvs border-color-primary-0">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full align--left bg-color-primary-4">
								<h4 class="color-primary-1 align--center pvs">Connection Status</h4>
							</div>
						</div>
						<div class="gd-row gt-row gm-row">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full color-complement-2 pal">
								<ul class="profile_connections mtm">
									<li class="{TXT_RELATIONSHIP_STATUS}">Following @NOAAalerts</li>
									<li class="{TXT_DM_STATUS}">Reachable by DM</li>
								</ul>
							</div>
						</div>
						<div class="gd-row gt-row gm-row bvs border-color-primary-0">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full align--left bg-color-primary-4">
								<h4 class="color-primary-1 align--center pvs">Menu</h4>
							</div>
						</div>
						<div class="gd-row gt-row gm-row">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full color-complement-2 pal">
								<ul class="profile_menu">
									<li data-userid="{TXT_USER_ID}" class="clickable color-primary-1 btn_show_location_selector">Change Location</li>
									<li><a href="http://thepizzy.net/blog/labs/skywarn-storm-spotter-user-guide/" class="color-primary-1" target="_blank">User Guide</a></li>
									<li><a class="color-primary-1" href="clearsessions.php">Logout</a></li>
								</ul>
							</div>
						</div>
						<!-- IF {B_HAS_RELATIONSHIP} -->
						<div class="gd-row gt-row gm-hide">
							<div class="gd-columns gt-columns gm-columns gd-full gt-full gm-full color-complement-2 align--center pbs">
								<span id="disconnect_service" class="button--small btn--secondary-1" data-userid="{TXT_USER_ID}">Disconnect Service</span>
							</div>
						</div>
						<!-- ENDIF -->
					</div>
					<div class="gd-columns gt-columns gm-columns gd-three-quarters gt-two-thirds gm-full group bg-color-primary-2 rounded-rm box-shadow">
						<div class="gd-row gt-row gm-row border-color-primary-2 pal">
							<!-- IF {B_NO_RELATIONSHIP} -->
							<h3 class="pas mbs">Follow @NOAAalerts on Twitter</h3>

							<p class="pas">For the service to send your Direct Messages, you'll need to follow @NOAAalerts on twitter. Don't worry though, we'll take care of the follow for you if you click the link below.</p>

							<p class="pas mbm"><a href="ajax_handler.php?mode=followOnTwitter&user_id={TXT_USER_ID}" class="profile_follow_img"></a></p>
							<!-- ENDIF -->
							<h4 class="pas mbs">Latest Spotter Information Statement</h4>
							<!-- IF {B_HAS_FORECAST_CARDS} -->
							{TXT_SPOTTER_FORECAST_CARDS}
							<!-- ELSE -->
							<p class="pas">The service has not scanned any Hazardous Weather Outlook at your chosen location recently. Scans run at the top of every hour.</p>
							<!-- ENDIF -->
							<p class="color-complement-2 text--small align--right">This service checks for new Hazardous Weather Outlook reports at the top of every hour.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="gd-columns gt-columns gm-columns gd-1of7 gt-1of7 gm-hide">&nbsp;</div>
		</div>
	</div>
	<div id="disconnect_dialog" style="display: none;">
		<span class="alert_icon"></span>
		<span class="disconnect_confirmation">This will unfollow @NOAAalerts and delete your settings & credentials from the database. Are you sure?</span>
	</div>
	<div id="locations_dialog" style="display:none;"></div>
	<script>monitor_profile_links();</script>
</section>