<header id="setup_header">
	<span class="setup_headline">SKYWARN StormSpotter Status</span>
	<span class="setup_usermenu">
		<img src="{IMG_USER_PROFILE}" class="setup_profile_img align_left"/>
		<span class="setup_profile_name">{TXT_USER_SCREEN_NAME}</span>
		<span class="setup_profile_logout"><a href="clearsessions.php">{TXT_LOGOUT_USER}</a></span>
	</span>
</header>
<section id="setup"></section>
<section id="setup_content">
	<div class="setup_header_border">&nbsp;</div>
	{TXT_MSGS}
	<div class="setup_options_wrapper">
		<form id="setup_steps" method="POST" action="save_settings.php">
			<div class="setup_step">
				<h2>Step 1: Follow @NOAAalerts on twitter...</h2>
				<img src="https://pbs.twimg.com/profile_images/1325813916/miniLogo.png" class="align_left"
					 style="margin: 0 20px 10px;"/>

				<p class="setup_step_instructions">Before we can reliably send you Direct Messages, you'll need to
					follow @NOAAalerts on twitter.<br/>(Yes, we know there's a "receive public DMs" setting, but it's
					probably a good idea to turn that off.)</p>

				<p class="setup_step_instructions">Don't worry though, we'll take care of the follow for you, just mark
					the box below.<br/>You can choose not to mark it, but you may not receive the DMs we send if you
					disabled the "public DMs" setting.</p>
				<span class="setup_step_check">
					<label for="agree_to_follow">Agree to follow @NOAAalerts</label>&nbsp;&nbsp;
					<input type="checkbox" name="agree_to_follow" id="agree_to_follow" {TXT_AGREE_TO_FOLLOW_CHECKED} /></span>
			</div>
			<div class="setup_step">
				<h2>Step 2: Select your National Weather Service Office...</h2>

				<p class="setup_step_instructions">Below you'll notice several lists, broken into sections by
					state. Each of these cities hosts a National Weather Service Office.</p>

				<p class="setup_step_instructions">Click on one or more of these Offices that send StormSpotter
					Activation forecasts relevant to your location.</p>

				<div class="setup_office_container">{TXT_STATE_OFFICE_LIST}<span class="stretch"></span></div>
				<script>monitor_setup_form()</script>
				<div id="setup_offices_container" style="display: none;"></div>
			</div>
			<div class="setup_step">
				<h2>Step 3: Save your Settings</h2>

				<p class="setup_step_instructions">
					Save your Office Selections and Follow @NOAAalerts (if checked above).
				</p>
				<span class="setup_save_wrapper">
					<input type="hidden" name="user_id" value="{TXT_USER_ID}"/>
					<input type="submit" id="save_setup" value="Save Settings" class="setup_save_button"/>
				</span>
			</div>
		</form>
	</div>
</section>