<section id="intro">
	<span class="headline">SKYWARN Storm Spotter Status</span>

	<div class="intro_content_wrapper">
		<img src="./images/skywarn_650.png" class="align_left skywarn_logo"/>

		<div class="intro_content">
			<h2>Receive Storm Spotter Activation Forecasts</h2>
			Throughout the day, this service will check the National Weather Service's Hazardous Weather Outlook for
			your area and
			send a Twitter Direct Message with the updated Storm Spotter Activation forecast.
			<h2>Get Started...</h2>
			<a href="./redirect.php"><img src="./images/sign_in_with_twitter.png" alt="Sign in with Twitter"/></a>
		</div>
	</div>
</section>
