<section id="intro ">
	<div class="group ptl mtl">
		<div class="gd-row gt-row gm-row ptl mtl">
			<div class="gd-columns gt-columns gd-1of5 gt-1of5 gm-hide">&nbsp;</div>
			<div class="gd-columns gt-columns gd-1of5 gt-1of5 gm-full brl border-color-primary-0 valign--middle align--center">
				<img src="./images/skywarn_650.png" class="splash_logo phs pvl"/>
			</div>
			<div class="gd-columns gt-columns gm-columns gd-half gt-half gm-full valign--middle align--left mlm">
				<h1 class="pvm color-primary-1 text-shadow">SKYWARN</h1>

				<h2 class="pvs color-primary-1 text-shadow">Storm Spotter Status</h2>
			</div>
			<div class="gd-columns gt-columns gd-1of5 gt-1of5 gm-hide">&nbsp;</div>
		</div>
		<div class="gd-row gt-row gm-row ptl mtl">
			<div class="gd-columns gt-columns gd-1of5 gt-1of5 gm-hide">&nbsp;</div>
			<div class="gd-columns gt-columns gd-3of5 gt-3of5 gm-full bg-color-complement-3 pam rounded-as box-shadow">
				<h3 class="color-primary-1 mas">Receive Spotter Information Statements</h3>

				<p class="color-primary-2 mam">Throughout the day, this service will check for updated Hazardous Weather Outlooks for your chosen area and send a Twitter Direct Message containing the Spotter Information Statement and link to the HWO.</p>

				<div class="group pvl mvl">
					<div class="gd-row gt-row gm-row">
						<div class="gd-columns gt-columns gd-half gt-half gm-full">
							<h3 class="color-primary-1 mas align--center">Get Started...</h3>

							<p class="mas align--center"><a href="./redirect.php"><img src="./images/sign_in_with_twitter.png" alt="Sign in with Twitter"/></a></p>
						</div>
						<div class="gd-columns gt-columns gd-half gt-half gm-full">
							<h3 class="color-primary-1 mas align--center">Learn More...</h3>

							<p class="color-primary-2 mas align--center">Check out the <a class="color-primary-1" target="_blank" href="http://thepizzy.net/blog/labs/skywarn-storm-spotter-user-guide/">User Guide</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="gd-columns gt-columns gd-1of5 gt-1of5 gm-hide">&nbsp;</div>
		</div>
	</div>
</section>
