<section id="intro">
	<span class="headline">SKYWARN<br/>Storm Spotter Status</span>

	<div class="intro_content_wrapper">
		<img src="./images/skywarn_650.png" class="align_left skywarn_logo"/>

		<div class="intro_content">
			<h2>Receive Storm Spotter Activation Forecasts</h2>
			Throughout the day, this service will check the National Weather Service's Hazardous Weather Outlook for
			your area and send a Twitter Direct Message with the updated Storm Spotter Activation forecast.
			<h2>Get Started...</h2>
			<a href="./redirect.php"><img src="./images/sign_in_with_twitter.png" alt="Sign in with Twitter"/></a>
		</div>
	</div>
	<div class="intro_content_wrapper">
		<div class="intro_content">
			<h3>For More Information, check out the
				<a class="splash_link" target="_blank" href="http://thepizzy.net/blog/labs/skywarn-storm-spotter-user-guide/">User Guide</a>.
			</h3>
		</div>
	</div>
</section>
